.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    width: 18px;
    border: 2px solid transparent;
    border-radius: 2px;
}

.checkbox:hover {
    box-shadow: inset 0 0 3px var(--color-checkbox-hover);
    border: 2px solid var(--color-checkbox-hover);
}