.container {
    height: calc(100vh - var(--height-header) - 30px);
    display: flex;
    flex-direction: column;
}

.fixed-asset-transfer__table--details {
    transition-duration: 3s;
}

.tool-bar {
    /* height: 35px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 9px;
}

.tool-bar__search-bar {
    display: flex;
    gap: 11px;
}

.tool-bar__button-bar {
    display: flex;
    gap: 11px;
}

.tool-bar__text {
    display: flex;
    align-items: center;
    gap: 16px;
}

.tool-bar__text i{
    transform: scale(1.4);
}

.tool-bar__button--delete {
    padding: 8px 20px;
    color: red;
    border: 1px solid red;
    border-radius: 2.5px;
    cursor: pointer;
    background-color: transparent;
}

.tool-bar__button--delete:hover {
    color: white;
    background-color: red;
}

.details-button {
    height: 25px !important;
    border-radius: 9px !important;
}

.details-button--arrow {
    height: 27px !important;
    width: 27px !important;
    border-radius: 50% !important;
    background-color: #ddd !important;
    
}