/* ===== Table list ===== */
.table-container {
    position: relative;
    background-color: #ffffff;
    border-radius: 3.5px;
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, .16); */
    border-bottom: 1px solid #aaa;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.table--asset-list {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    position: relative;
    table-layout: fixed;
}

.table__empty tr td{
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
}

.table__empty--text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: var(--color-border-hover);
}

    tr td:not(:first-child){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /* border: 1px solid #eee; */
    }
    tr td:first-child {
        width: 50px !important;
    }

    /* Chiều rộng cột */
    .table__columns--index {
        width: 50px;
    }
    
    .table__columns--date {
        min-width: 100px;
    }

    .table__columns--number {
        width: 100px;
    }

    .table__columns--note {
        width: 30%;
    }

    .table__columns--reason {
        width: 20%;
    }

    .table__columns--tool {
        display: flex;
        justify-content: center;
        gap: 4px;;
    }

    .table__td--combo-box {
        overflow: unset !important;
        padding: 0 1px;
    }

    .table__td--input {
        padding: 0 1px;
    }

    /*  */

    tr td{
        padding: 0 9px 0 9px;
    }

    tr td:first-child {
        padding: 0 14px 0 14px;
    }

    /* thead */
    .table--asset-list thead{
        z-index: 2;
        position: sticky;
        top: 0px;
    }

    .table--asset-list thead tr{
        background-color: #f5f5f5;
        font-weight: 700;
        height: 38px;
    }

    .table--asset-list thead td:not(:first-child) {
        min-width: 100px;
        /* resize: horizontal; */
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
    } 

    .table--asset-list thead td:not(:first-child)::-webkit-resizer{
        background:transparent;
    }
    /*  */


    /* tbody */
    .table--asset-list tbody tr {
        background-color: #fff;
        border-bottom: 1px solid #eee;
        height: 40px;
    }

    .table--asset-list tr td:not(:first-child){
        min-width: 20px;
    }

    .table--asset-list tbody tr:has(input[type="checkbox"]:checked){
        background-color: rgba(26, 164, 200, .2);
    }

    .table--asset-list input[type="checkbox"]{
        width: 14px;
        height: 14px;
    }

    .table--asset-list tbody tr:hover:not(.ignore-focus), .table--asset-list tr:focus:not(.ignore-focus){
        background-color: rgba(26, 164, 200, .3) !important;
    }

    .table--asset-list tbody tr.active{
        background-color: rgba(26, 164, 200, .3) !important;
    }

    .table--asset-list tbody tr:hover:not(.ignore-focus) .hide, .table--asset-list tr:focus:not(.ignore-focus) .hide{
        opacity: 1;
    }
    /*  */

    tbody:after {
        content:"@";
        display:block;
        line-height: 1px;
        text-indent: -99999px;
    }

    /* tfoot */
    .table--asset-list tfoot{
        position: sticky;
        bottom: 0px;
        background-color: #f6f6f6;
    }

    .table--asset-list tfoot tr{
        height: 40px;
    }

    .table--asset-list tfoot tr td:not(:first-child){
        font-weight: 700;
    }

    .table--asset-list .table__pagination {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        height: 40px;
        margin-top: 1px;
        margin: 0;
    }

    .table--asset-list .table__pagination--text {
        width: 150px;
    }

    .table--asset-list .table__pagination--page{
        margin: 0;
        display: flex;
        gap: 10px;
        font-size: 11px;
    }

    .table--asset-list ul {
        list-style: none;
    }

    .table--asset-list .table__pagination--page-button{
        border-radius: 3px;
        width: 20px;
        height: 20px;
        text-align: center;
        align-items: center;
        cursor: pointer;
        padding: 3px 0;
    }

    .table--asset-list .table__pagination--page-button p{
        margin-top: -1px;
    }

    .table--asset-list .table__pagination--page-button:hover{
        background-color: #f5f5f5;
    }

.table--loading {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    z-index: 5;
    display: grid;
    place-items: center;
}

/* End table--asset-list */

.table--asset-form {
    width: 100%;
    padding: 0 16px;
    gap: 20px;
}