.context-menu {
    position: absolute;
    background-color: #fff;
    width: 150px;
    padding: 6px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    z-index: 5;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.context-menu__item {
    background-color: #fff;
    height: 36px;
    display: flex;
    align-items: center;
    padding-left: 6px;
    cursor: pointer;
    gap: 12px;
}

.context-menu__item:hover {
    background-color: var(--color-combo-box-hover);
}
